In [1]:
import pandas as pd
import numpy as np
import pickle as pkl

In [2]:
frame = pd.read_csv('real_estate_details_3.csv',encoding='cp1250')

In [3]:
frame.head()

,city,district,voivodeship,localization_y,localization_x,area,sewers,shape,road,fence,water,electricity,gas,price
0,Bełdów-Krzywa Wieś,zgierski,łódzkie,51.835925,19.193010,1004.0,NaN,prostokąt,utwardzana,NaN,wodociąg w drodze,w drodze,NaN,90360.0
1,Siewierz,będziński,śląskie,50.472433,19.233789,18.0,szambo,prostokąt,asfaltowa,żywopłot,wodociąg na działce,na działce,brak,229000.0
2,Stanisławów Nowy,pabianicki,łódzkie,51.801330,19.189772,1200.0,NaN,prostokąt,utwardzana,NaN,NaN,NaN,NaN,84000.0
3,Julianowo,szczycieński,warmińsko-mazurskie,53.723500,20.867400,1262.0,NaN,NaN,utwardzana,NaN,własne ujęcie/studnia,NaN,brak,88340.0
4,Nadarzyn,pruszkowski,mazowieckie,52.094000,20.807400,950.0,NaN,NaN,utwardzana,brak,NaN,NaN,NaN,295000.0

In [4]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9937 entries, 0 to 9936
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            9656 non-null   object
 1   district        9649 non-null   object
 2   voivodeship     9163 non-null   object
 3   localization_y  9254 non-null   float64
 4   localization_x  9517 non-null   float64
 5   area            9638 non-null   float64
 6   sewers          1884 non-null   object
 7   shape           1957 non-null   object
 8   road            5127 non-null   object
 9   fence           5321 non-null   object
 10  water           273 non-null    object
 11  electricity     147 non-null    object
 12  gas             581 non-null    object
 13  price           9656 non-null   float64
dtypes: float64(4), object(10)
memory usage: 1.1+ MB

In [5]:
frame['district'].nunique()

645

In [5]:
frame.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
localization_y,9254.0,51.956458,1.349855e+00,49.199733,50.859126,52.104515,52.538292,5.483128e+01
localization_x,9517.0,19.508127,2.042161e+00,14.338056,18.224700,19.991800,20.933180,2.386770e+01
area,9638.0,3923.823843,1.856166e+04,2.860000,1060.000000,1531.500000,3000.000000,1.515395e+06
price,9656.0,611287.909652,1.729530e+06,0.100000,115000.000000,215000.000000,499000.000000,6.000000e+07

In [6]:
frame['voivodeship'].unique()

array(['łódzkie', 'śląskie', 'warmińsko-mazurskie', 'mazowieckie',
       'wielkopolskie', nan, 'świętokrzyskie', 'małopolskie', 'podlaskie',
       'pomorskie', 'dolnośląskie', 'lubuskie', 'zachodniopomorskie',
       'kujawsko-pomorskie', 'opolskie', 'lubelskie', 'podkarpackie'],
      dtype=object)

In [7]:
frame['voivodeship'].nunique()

16

In [8]:
frame.groupby('voivodeship')['localization_y'].unique()

voivodeship
dolnośląskie           [50.861522631475, 51.188311999999996, 50.30886...
kujawsko-pomorskie     [52.880058, 53.049290908785, 53.197236, 52.865...
lubelskie              [51.20782, 51.322658000000004, 51.241414, 51.2...
lubuskie               [nan, 51.9489824, 51.9160209, 52.0196, 51.9429...
mazowieckie            [52.093999999999994, 52.0658, 52.393966, 52.09...
małopolskie            [49.837137, 49.958790894654996, 49.730845, 49....
opolskie               [50.352351, 50.8337256, 50.624472600000004, 50...
podkarpackie           [49.201988, 49.694649, 49.199733, 49.8615, 50....
podlaskie              [53.111726000000004, 54.20208100000001, 53.014...
pomorskie              [53.7330509797264, 54.4808781977701, 54.181109...
warmińsko-mazurskie    [53.7235, nan, 53.718888186202, 53.0, 53.1848,...
wielkopolskie          [nan, 53.149289700059, 52.625842000000006, 52....
zachodniopomorskie     [53.335570999999995, 54.0495762918714, 54.5110...
łódzkie                [51.835925, 51.80133, 51.766153, 51.764697, 51...
śląskie                [50.472433, 49.70534015643379, 49.984503124001...
świętokrzyskie         [50.470859999999995, 51.117890087685005, 50.84...
Name: localization_y, dtype: object

In [9]:
frame.groupby('voivodeship')['localization_y'].nunique()

voivodeship
dolnośląskie            321
kujawsko-pomorskie      184
lubelskie               107
lubuskie                 33
mazowieckie            1176
małopolskie             500
opolskie                 38
podkarpackie            165
podlaskie                96
pomorskie               484
warmińsko-mazurskie     140
wielkopolskie           344
zachodniopomorskie      208
łódzkie                 163
śląskie                 388
świętokrzyskie           66
Name: localization_y, dtype: int64

In [10]:
frame = frame.drop_duplicates()

In [11]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8091 entries, 0 to 9936
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            7982 non-null   object
 1   district        7976 non-null   object
 2   voivodeship     7551 non-null   object
 3   localization_y  7645 non-null   float64
 4   localization_x  7753 non-null   float64
 5   area            7964 non-null   float64
 6   sewers          1534 non-null   object
 7   shape           1784 non-null   object
 8   road            4292 non-null   object
 9   fence           4412 non-null   object
 10  water           235 non-null    object
 11  electricity     143 non-null    object
 12  gas             471 non-null    object
 13  price           7982 non-null   float64
dtypes: float64(4), object(10)
memory usage: 948.2+ KB

In [12]:
frame.drop(frame[pd.isnull(frame['city'])].index, inplace = True)

In [13]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7982 entries, 0 to 9936
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            7982 non-null   object
 1   district        7976 non-null   object
 2   voivodeship     7551 non-null   object
 3   localization_y  7645 non-null   float64
 4   localization_x  7645 non-null   float64
 5   area            7964 non-null   float64
 6   sewers          1534 non-null   object
 7   shape           1784 non-null   object
 8   road            4292 non-null   object
 9   fence           4412 non-null   object
 10  water           235 non-null    object
 11  electricity     143 non-null    object
 12  gas             471 non-null    object
 13  price           7982 non-null   float64
dtypes: float64(4), object(10)
memory usage: 935.4+ KB

In [14]:
frame['counter'] = frame.index

In [15]:
frame.groupby('sewers').nunique()

,city,district,voivodeship,localization_y,localization_x,area,shape,road,fence,water,electricity,gas,price,counter
sewers,,,,,,,,,,,,,,
brak,347,146,15,375,376,329,4,4,7,4,3,3,273,436
inne,3,3,3,3,3,3,3,2,3,2,2,2,3,3
miejska,470,236,16,613,612,551,4,4,8,3,2,3,439,821
przydomowa oczyszczalnia ścieków,23,17,8,24,24,22,1,3,3,2,1,1,23,25
studnia,1,1,1,1,1,1,1,1,1,1,1,1,1,1
szambo,182,86,13,215,215,185,3,3,7,4,3,3,175,248

In [16]:
frame.groupby('sewers')['counter'].nunique()

sewers
brak                                436
inne                                  3
miejska                             821
przydomowa oczyszczalnia ścieków     25
studnia                               1
szambo                              248
Name: counter, dtype: int64

In [17]:
frame['sewers'].replace(['inne','studnia'],'brak', inplace=True)

In [18]:
frame['sewers'].fillna('brak', inplace=True)

In [19]:
frame.groupby('shape')['counter'].nunique()

shape
inny           76
kwadrat       134
prostokąt    1401
trapez        152
trójkąt        21
Name: counter, dtype: int64

In [20]:
frame.drop('shape', axis=1, inplace=True)

In [21]:
frame.groupby('road')['counter'].nunique()

road
asfaltowa         2243
kostka brukowa       9
polna              155
utwardzana        1885
Name: counter, dtype: int64

In [22]:
frame['road'].fillna('polna', inplace=True)

In [23]:
frame.groupby('fence')['counter'].nunique()

fence
betonowe       18
brak         3633
drewniane      22
inne          128
metalowe       60
mieszane       54
murowane       12
siatka        481
żywopłot        4
Name: counter, dtype: int64

In [24]:
frame['fence'].fillna('brak', inplace=True)

In [25]:
frame.groupby('water')['counter'].nunique()

water
brak                     32
wodociąg na działce      36
wodociąg w drodze        87
własne ujęcie/studnia    80
Name: counter, dtype: int64

In [26]:
frame['water'].fillna('brak', inplace=True)

In [27]:
frame.groupby('electricity')['counter'].nunique()

electricity
brak           4
na działce    65
w drodze      74
Name: counter, dtype: int64

In [28]:
frame['electricity'].fillna('brak', inplace=True)

In [29]:
frame.groupby('gas')['counter'].nunique()

gas
brak          400
na działce     18
w drodze       53
Name: counter, dtype: int64

In [30]:
frame['gas'].fillna('brak', inplace=True)

In [31]:
frame.dropna(subset=['localization_y','area'], inplace=True)

In [32]:
frame.drop(['city','district','voivodeship','counter'], axis=1, inplace=True)

In [33]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7629 entries, 0 to 9936
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   localization_y  7629 non-null   float64
 1   localization_x  7629 non-null   float64
 2   area            7629 non-null   float64
 3   sewers          7629 non-null   object
 4   road            7629 non-null   object
 5   fence           7629 non-null   object
 6   water           7629 non-null   object
 7   electricity     7629 non-null   object
 8   gas             7629 non-null   object
 9   price           7629 non-null   float64
dtypes: float64(4), object(6)
memory usage: 655.6+ KB

In [35]:
frame.reset_index(drop=True, inplace=True)

In [36]:
frame

,localization_y,localization_x,area,sewers,road,fence,water,electricity,gas,price
0,51.835925,19.193010,1004.0,brak,utwardzana,brak,wodociąg w drodze,w drodze,brak,90360.0
1,50.472433,19.233789,18.0,szambo,asfaltowa,żywopłot,wodociąg na działce,na działce,brak,229000.0
2,51.801330,19.189772,1200.0,brak,utwardzana,brak,brak,brak,brak,84000.0
3,53.723500,20.867400,1262.0,brak,utwardzana,brak,własne ujęcie/studnia,brak,brak,88340.0
4,52.094000,20.807400,950.0,brak,utwardzana,brak,brak,brak,brak,295000.0
...,...,...,...,...,...,...,...,...,...,...
7624,49.939618,19.889479,2000.0,brak,polna,brak,brak,brak,brak,360000.0
7625,49.907755,20.200424,35.2,brak,polna,brak,brak,brak,brak,315000.0
7626,50.026720,19.700051,4400.0,szambo,polna,brak,brak,brak,brak,160000.0
7627,49.987773,19.679529,4400.0,brak,polna,brak,brak,brak,brak,440000.0
7628,49.987773,19.679529,2200.0,brak,polna,brak,brak,brak,brak,220000.0

In [37]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7629 entries, 0 to 7628
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   localization_y  7629 non-null   float64
 1   localization_x  7629 non-null   float64
 2   area            7629 non-null   float64
 3   sewers          7629 non-null   object
 4   road            7629 non-null   object
 5   fence           7629 non-null   object
 6   water           7629 non-null   object
 7   electricity     7629 non-null   object
 8   gas             7629 non-null   object
 9   price           7629 non-null   float64
dtypes: float64(4), object(6)
memory usage: 596.1+ KB

In [40]:
outfile = open('real_estate_data_frame','wb')
pkl.dump(frame,outfile)
outfile.close()